.produce{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
table{
  margin: auto;
}
tr {
  position: centre;
}
.prodName{
  font-size: 30px;
}
.prodDesc{
  font-size: 20px;
  text-align: centre;
  margin: auto;
}
